/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

li {
  list-style: none;
}

p {
    line-height: 26px;
    margin: 20px 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'open sans', sans-serif;
    color: #3c3f41;
}


h1 {
    text-indent: -9999px;
    font-size: 10px;
}

h2 {
    font-size: 38px;
   font-weight: 100;
   letter-spacing: 3px;
   text-transform: uppercase;
}

h3 {

   font-size: 24px;
   font-weight: 100;
   letter-spacing: 3px;
   text-transform: uppercase;
}

h4 {
   font-size: 24px;
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   letter-spacing: 2px;
   text-transform: uppercase;
   -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;

}

/* Back */

a.icon-back {
  text-transform: uppercase;
  color: #262829;
  letter-spacing: 2px;
  font-weight: 600;
}

.icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-left: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.icon-back:before {
  content: url('../images/arrow_back.svg');
  position: absolute;
  left: 0.5em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}



/* header */
#logo {
    padding: 30px 0 0 10px;
}


/*Navigation*/

nav li {
    display: inline-block;
    padding: 20px 10px 0 10px;
    letter-spacing: 2px;
    font-size: 12px;

}

nav li a {
    color: #000;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 60px 10px 0 10px;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 10px;
}

nav a:hover,
nav a:focus {
    outline: none;
    color: #000;
}

.cl-effect-3 a {
    padding: 8px 0;
}

.cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}





/* Call to action */

.calltoaction {
    text-align: center;
}

.button {
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    padding: 15px 20px;
    background-color: green;
    border-radius: 5px 5px 5px;
}

a.button {
    color: white;
}


/* Text align center */


.center {
    text-align: center;
}





/* Text align center */

#banner {
    font-size: 22px;
    font-weight: 200;
    margin: 40px 10px;
}


/* PAGE PSYCHOTHERAPIE */

#banner-img {
    width: 100%;
    height: 276px;
    text-align: center;
    background: url('../images/bandeau.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 80px;
    color: #32414f;
}



#banner-img p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    height: 276px;
    line-height: 276px;
}

#pourquoi_consulter_right {
    margin-top: 40px;
}

.quote {
    font-size: 28px;
    text-align: center;
    margin: 40px 0;
}

.quote p {
    font-weight: 200;
    line-height: 40px;
}

#methode {
    background-color: #f5F5F5;
}

#pourqui {
    background-color: #f7f7f7;
    padding: 40px 0;
}


#pourqui .boxout {
    padding-right: 20px;
}

#pourqui .boxout div {
    background-color: white;
    padding: 5px 20px;
    -moz-box-shadow: 0px 5px 5px 0px #e2e2e2;
    -webkit-box-shadow: 0px 5px 5px 0px #e2e2e2;
    -o-box-shadow: 0px 5px 5px 0px #e2e2e2;
    box-shadow: 0px 5px 5px 0px #e2e2e2;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#e2e2e2, Direction=180, Strength=5);
}

#pourqui .boxout div a {
    position: absolute;
    right: 2px;
    bottom: 5px;
    background-color: #2fd7b7;
    padding: 10px 15px;

}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* PAGE POUR QUI */

#infotarget {
  margin-bottom: 100px;
}

#infotarget ul {
  margin-bottom: 30px;
}

#infotarget li {
  list-style: none;
  margin: 15px 0;
  list-style-image: url('../images/check.svg');

}


/* PAGE CONTACT */

#adresse {
    margin-top: 30px;
    background-color: #F5F5F5;
    height: 150px;
}

#adresse p {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #636363;
    font-weight: 200;
}

#adresse p span {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 10px 0;
}



#gmap {
    position: relative;
}

#gmap iframe {
    display: block;
    position: relative;
    z-index: 1;
}


/* Sweep To Right */


[class^="hvr-"] {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  margin: 1em 0;
  padding: 1em 2em;
  cursor: pointer;
  background: #2fd7b7;
  text-decoration: none;
  color: #fff;
  border-radius: 5px 5px 5px;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
}

.hvr-sweep-to-right {

  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  border-radius: 5px 5px 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #25a48c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




/* FORMULAIRE CONTACT */

form input, form textarea {
  display: block;
  margin: 20px 0;
  width: 100%;
}

#banner-img2 {
    width: 100%;
    height: 200px;
    text-align: center;
    background: url('../images/bandeau2.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10px;
    color: #32414f;
}

.style-4 input[type="text"], .style-4 input[type="email"] {
  padding: 10px;
  border: none;
  font-size: 16px;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus, .style-4 input[type="text"].focus, .style-4 input[type="email"]:focus, .style-4 input[type="email"].focus {
  border-bottom: solid 2px green;
  outline: none;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}